@font-face {
  font-family: Roboto;
  src: url(./Fonts/Roboto-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Roboto-Italic;
  src: url(./Fonts/Roboto-ThinItalic.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url(./Fonts/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Roboto-Italic;
  src: url(./Fonts/Roboto-LightItalic.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(./Fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto-Italic;
  src: url(./Fonts/Roboto-Italic.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(./Fonts/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Roboto-Italic;
  src: url(./Fonts/Roboto-MediumItalic.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(./Fonts/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto-Italic;
  src: url(./Fonts/Roboto-BoldItalic.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(./Fonts/Roboto-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Roboto-Italic;
  src: url(./Fonts/Roboto-BlackItalic.ttf);
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

#__react-alert__ > div > div {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

#__react-alert__ > div > div > div {
  width: 90% !important;
  padding: 15px !important;
}